* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Georgia;
  color: white;
  background-color: black;
}

header {
  background-color: #F1C40F;
}

#hnav {
  background-color: #E67E22;
  border: 2px dotted black;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

main {
  background-color: #E67E22;
}

article {
  background-color: #F1C40F;
  border: 2px dotted black;
  width: 300px;
}

aside {
  background-color: black;
  border: 2px dotted black;
}

footer {
  background-color: #F1C40F;
  border: 2px dotted black;
}

h1, h2, h3 {
  font-family: cursive;
  text-transform: capitalize;
}
