* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Georgia;
  color: white;
  background-color: black;
  position: relative;
}

header {
  background-color: #F1C40F;
  position: relative;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#hnav {
  background-color: black;
  opacity: 0.5;
  border: 2px dotted black;
  position: fixed;  
  width: 100%;
  z-index: 10;  
}

#hnav li {
  display: inline-block;
}

#hnav ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

main {
  background-color: #E67E22;
  width: 300px;
  display: inline-block;
}

section {  
  width: 580px;
  height: 300px;
}

article {
  background-color: #F1C40F;
  border: 2px dotted black;
}

aside {
  background-color: black;
  border: 2px dotted black;
}

footer {
  background-color: #F1C40F;
  border: 2px dotted black;
  width: 100%;
}

h1, h2, h3 {
  font-family: cursive;
  text-transform: capitalize;
}
